.grid_8
  =paginate @listings
  &nbsp;

.grid_4
  = render 'shared/search_form', :subindex => 'listing'

.clear


.listings
  -if @listings.empty?
    %h4.grid_4 No record found.
    .clear
  -else
    = render @listings
