
body {
  background: #99C224;
}

header div {
  height: 32px;
}


section {
  background: #FFFFFF;
  padding: 20px;
  min-height: 400px;
}

footer {

}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
}


/* Navigation */

nav {
  text-align: center;
  background-color: white;
  white-space: nowrap;
  vertical-align: middle;
  height: 100%
}

nav ul {
  margin: 0;
  padding: 0;

}

nav ul li {
  list-style-type: none;
  display: inline-block;
  line-height: 32px;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
