
.headAppName {
  font-size: 1.5em;
  font-weight: bold;
}

body {
  background: #EEDF90;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  line-height: 30px;
}

#headerBar {
  background: #968954;
  width: 100%;
  position: absolute;
  height: 30px;
  z-index: -1;
}

header div {

  white-space: nowrap;
}
header a {
  color: white;
  font-weight: bold;
}

/* Search Bar */

.search_bar .search_container {
  position: relative;
  height: 20px;
  display: inline-block;
}

.search_bar .search_field {
  border: 1px solid white;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
  width: 270px;
  padding: 2px 25px 4px 6px;
}

.search_bar .search_button {
  position: absolute;
  right: 0;
  top: 4px;
  cursor: pointer;
  display: block;
  background: transparent url('../images/search.png') no-repeat;
  width: 24px;
  border: 0;
}


/* Main Content */

.page_container {
  padding-top: 30px;
}

section {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 400px;
}

footer {

}

/* Navigation */

nav {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

nav ul {
  margin: 0;
  padding: 0;

}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


/* Text Position */
.right {
  text-align: right;
}
.left {
  text-align: left;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
}

/* Forms */

div.field, div.actions {
  margin-bottom: 0.5em;
}

/* Errors */

.field_with_errors {
  padding: 2px;
  background-color: #ff0000;
  display: table;
}

.field_with_errors label {
  color: #ffffff;
}

#error_explanation {
  border: 2px solid #cc0000;
  padding: 7px 7px 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: -7px -7px 0 -7px; /* Counteract the 7px padding in #error_explanation */
  background-color: #cc0000;
  color: #ffffff;
}

#error_explanation p {
  color: #333333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}