= form_tag(search_path, :method => :get) do
  .search_container
    = text_field_tag :q, @keywords, {:class => :search_field, :placeholder => 'Search'}
    = submit_tag " ", {:name => nil, :class => :search_button, :title=>:search}