.grid_11.documents
  :markdown
    ## About Us

    OurBulletins is a free and awesome site for college students to buy and sell textbooks and other stuff to each other. No more middleman fee. No more ripoff in textbook buyback. No more waiting and shipping cost. Sell you used textbooks to other students today and earn big cash!