.grid_12.documents
  :markdown


    ### To buy a book

    Search for the book you want and see if it's listed in the "Active Listing" section.

    ### To sell a book

    Search for the book you want to sell -> locate it in the "All" section -> click "List this book" button. If you cannot find the book in the database, click "Post New"->"Add a Book", then search for it again.

    ### The "Others" section

    Post ads for all other stuff, such as notes, surfboard, bike, skateboard, carpooling, tutoring service ...

    ### To post an ad in "Others"

    Go to "Post New" -> fill in the blanks

    ### When you decide to buy ...

    Click "Contact Seller" -> send out an email -> meet on campus

    ### When the deal is done ...

    Go to your list -> click "Close" button -> no one will contact you again

