#find_book_div
  %h4 Find a book for listing
  =form_tag(find_books_path, :method => :get, :remote => true, :id => 'add-book-form') do
    %ul
      %li
        ISBN:
        =text_field_tag :isbn, @isbn
    = submit_tag 'OK', {:id => 'add-book-submit'}

  - if !@book.nil?
    = render @book


  :javascript
    $('#add-book-form').bind('ajax:complete', function(et, e) {
      $('#find_book_div').html(e.responseText);
    });