
/*  Blockquotes (props to @paulrobertlloyd for inspiration) -------------------- */
/*  Original blockquote styles
    blockquote, blockquote p { font-size: 14px; line-height: 20px; color: #777; }
    blockquote { margin: 0 0 18px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
    blockquote.solid { background: #f5f5f5; }
    blockquote p { margin: 0; padding: 0 0 9px; }
    blockquote h5 { margin: 0; }
    blockquote cite { display: block; padding: 0 0 9px 6px; font-size: 12px; color: #555; }
    blockquote cite:before { content: "\2014 \0020"; }
    blockquote cite a, blockquote cite a:visited { color: #555; }
    blockquote cite a:hover { color: #555; text-decoration: none; }
*/

    blockquote, blockquote p { font-size: 16px; line-height: 24px; color: #777; font-style: italic; }
    blockquote { margin: 0 0 18px 1px; padding-left: 15px; border-left: 1px solid #ccc; }
    blockquote.left { float: left; margin-right: 20px; }
    blockquote.right { float: right; margin-left: 20px; }
    blockquote p { margin: 0; padding: 0 0 9px; }
    blockquote h5 { margin: 0; }
    blockquote cite { display: block; padding: 0 0 9px; font-size: 13px; color: #999; }
/*
    blockquote cite:before { content: "\2014 \0020"; }
*/
    blockquote cite a, blockquote cite a:visited { color: #555; }
    blockquote cite a:hover { color: #555; text-decoration: none; }

    blockquote.black p { color: #333; }
    blockquote.green p { color: #b8d30b; }
    blockquote.blue p { color: #007d9a; }
    blockquote.magenta p { color: #630030; }
    blockquote.red p { color: #872300; }
    blockquote.orange p { color: #d45500; }
    blockquote.yellow p { color: #d17200; }
