.find-book-results {

    .book-item {
        margin-bottom: 0;

        .image {
            width: 160px;
        }

        .detail {
            width: 300px;
        }
    }

    .control {
        margin: 5px 0 10px;
    }
}